form.well {
	margin: 0px;
}

.data-group {
	margin-top: 1em;
	position:relative;
}

.data-group .no-imm-msg {
	display: none;
	position: absolute;
	text-align: center;
	top: 50%;
	vertical-align: middle;
	width: 100%;
}

.no-imm .no-imm-msg {
	display: block;
}

.no-imm .arcs path {
	stroke-width: 0;
}

text.h2 {
	text-anchor: middle;
}

.arcs path {
	fill: #ffdd89;
	stroke: #000;
	stroke-width: 0.2;
}

.ribbons path {
	fill: #ffdd89;
	opacity: .85;
	stroke: #000;
	stroke-width: 0.2;
}

.arcs text {
	font-size: 16px;
	pointer-events: none;
  transition: opacity 1s
}

.text-hidden text {
  opacity: 0;
}

.CONT_AM path {
	fill: #b20c0c;
}

.CONT_EU path {
	fill: #0c56b2;
}

.CONT_AF path {
	fill: #735184;
}

.CONT_AS path {
	fill: #6fb20c;
}

.CONT_OC path,
.CONT_OC-ct path {
	fill: #DE770E;
}

.AM-NA path,
.AM-NA-ct path {
	fill: #F00;
}

.AM-CA path,
.AM-CA-ct path {
	fill: #ce0000;
}

.AM-CR path,
.AM-CR-ct path {
	fill: #960000;
}

.AM-SA path,
.AM-SA-ct path {
	fill: #510000;
}

.continent text,
.region text,
.country text {
	fill: #fff;
}

.EU-WE path,
.EU-WE-ct path{
	fill: #00f;
}

.EU-EE path,
.EU-EE-ct path {
	fill: #0000c4;
}

.EU-NE path,
.EU-NE-ct path {
	fill: #000096;
}

.EU-SE path,
.EU-SE-ct path {
	fill: #000075;
}

.AF-WA path,
.AF-WA-ct path {
	fill: #735184;
}

.AF-EA path,
.AF-EA-ct path {
	fill: #543b60;
}

.AF-NA path,
.AF-NA-ct path {
	fill: #422e4c;
}

.AF-CA path,
.AF-CA-ct path {
	fill: #291d30;
}

.AF-SA path,
.AF-SA-ct path {
	fill: #18111c;
}

.AS-ME path,
.AS-ME-ct path {
	fill: #6fb20c;
}

.AS-EA path,
.AS-EA-ct path {
	fill: #609b09;
}

.AS-SE path,
.AS-SE-ct path {
	fill: #4f7f07;
}

.AS-SA path,
.AS-SA-ct path {
	fill: #375905;
}

.sgc_10 path,
.pt_10 path {
	fill: #DE353A;
}

.sgc_11 path,
.pt_11 path {
	fill: #980B85;
}

.sgc_12 path,
.pt_12 path {
	fill: #1ABC9C;
}

.sgc_13 path,
.pt_13 path {
	fill: #E36928;
}

.sgc_24 path,
.pt_24 path {
	fill: #42A62A;
}

.sgc_35 path,
.pt_35 path {
	fill: #F8B334;
}

.sgc_46 path,
.pt_46 path {
	fill: #E4136F;
}

.sgc_47 path,
.pt_47 path {
	fill: #91117E;
}

.sgc_48 path,
.pt_48 path {
	fill: #E36928;
}

.sgc_59 path,
.pt_59 path {
	fill: #0A71B4;
}

.sgc_60 path,
.pt_60 path {
	fill: #F8B334;
}

.sgc_61 path,
.pt_61 path {
	fill: #42A62A;
}

.sgc_62 path,
.pt_62 path {
	fill: #0A71B4;
}

.hover  path {
	opacity: 0.2;
}

.hover .hovering path {
	opacity: inherit;
}
